<form #employeeForm = 'ngForm' class="emp-form" (ngSubmit) = "onSubmit(employeeForm)">
    <input type="hidden"
    #EmployeeId = 'ngModel'
    name = 'EmployeeId'
    [(ngModel)] = 'employeeService.selectedEmployee.EmployeeId'/>
<div class="form-row">
  <div class="form-group col-md-6">
    <input 
    type="text"
    class="form-control"
    #FirstName = 'ngModel'
    name = 'FirstName'
    [(ngModel)] = 'employeeService.selectedEmployee.FirstName'
    placeholder="FirstName"
    required/>
    <div class="validation-error" *ngIf = "FirstName.invalid && FirstName.touched">
      FirstName is required
    </div>
  </div>

  <div class="form-group col-md-6">
    <input type="text"
           class="form-control"
            name = 'LastName'
             #LastName = 'ngModel'
             [(ngModel)] = 'employeeService.selectedEmployee.LastName'
             placeholder="LastName"
             required/>
      <div class="validation-error" *ngIf = "LastName.touched && LastName.invalid">
        LastName is required
      </div>
  </div>
</div>

<div class="form-group">
  <input type="text" 
  class="form-control"
  #position = 'ngModel'
  [(ngModel)] = 'employeeService.selectedEmployee.Position'
  name = "Position"
  placeholder="Position">
</div>
<div class="form-row">
    <div class="form-group col-md-6">
      <input 
      type="text"
      class="form-control"
      #Office = 'ngModel'
      name = 'Office'
      [(ngModel)] = 'employeeService.selectedEmployee.Office'
      placeholder="Office"/>
    </div>
  
    <div class="form-group col-md-6">
      <input type="text"
             class="form-control"
              name = 'EmpCode'
               #EmpCode = 'ngModel'
               [(ngModel)] = 'employeeService.selectedEmployee.EmpCode'
               placeholder="EmpCode"/>
    </div>
  </div>

  <div class="form-row">
      <div class="form-group col-md-8">
       <button type = "submit" class="btn btn-block btn-info btn-lg" [disabled] = "!employeeForm.valid">
          <i class="fa fa-floppy-o"></i>Submit
       </button>
      </div>
    
      <div class="form-group col-md-4">
       <button type = "button" 
       class="btn btn-block btn-secondary btn-lg" (click) = "resetForm(employeeForm)">
       <i class="fa fa-repeat" >
         </i>Reset</button>
      </div>
    </div>
</form>